body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 40%;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

form{
    margin: 5%;
}